<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/baselayout}"
>
  <body>
    <th:block layout:fragment="content">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-8" th:utext="${cat_name}"></h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4" th:each="productVO : ${userProductList}">
            <div class="card mb-4 shadow-sm">
              <a href="#">
                <img
                  th:src="${'/product/imagedisplay?dateFolderName=' + productVO.pro_up_folder + '&fileName=s_' + productVO.pro_img}"
                  style="width: 100%; height: 255px; object-fit: contain"
                />
              </a>
              <div class="card-body">
                <p class="card-text">
                  <span th:text="${productVO.pro_name}"></span><br />
                  <span th:text="${#numbers.formatInteger(productVO.pro_price, 3, 'COMMA') + '원'}"></span>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">BUY IT NOW</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" name="btnCartAdd" th:data-pro_num="${productVO.pro_num}">
                      ADD TO CART
                    </button>
                  </div>
                  <small class="text-muted">(review : 0)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-md-4">
              <!--1)페이지번호 클릭할 때 사용  [이전]  1	2	3	4	5 [다음]  -->
              <!--2)목록에서 상품이미지 또는 상품명 클릭할 때 사용   -->
              <form id="actionForm" action="" method="get">
                <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
                <input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />
                <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}" />
                <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />

                <input type="hidden" name="cat_code" id="cat_code" th:value="${cat_code}" />
                <input type="hidden" name="cat_name" id="cat_name" th:value="${cat_name}" />
              </form>
            </div>
            <div class="col-md-6 text-center">
              <nav aria-label="...">
                <ul class="pagination">
                  <!-- 이전 표시여부 -->
                  <th:block th:if="${pageMaker.prev}">
                    <li class="page-item">
                      <a th:href="@{${pageMaker.startPage - 1}}" class="page-link movepage">Previous</a>
                    </li>
                  </th:block>
                  <!-- 페이지번호 출력 -->
                  <!-- 1 2 3 4 5 6 7 8 9 10 [다음] -->
                  <!-- [이전] 11 12 13 14 15 16 17 18 19 20 -->
                  <th:block th:with="pageMaker = ${pageMaker}">
                    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                      <li th:classappend="${pageMaker.cri.pageNum == num ? 'active' : ''}" class="page-item" aria-current="page">
                        <a class="page-link movepage" th:href="@{${num}}" th:text="${num}"></a>
                      </li>
                    </th:block>
                  </th:block>
                  <!-- 다음 표시여부 -->
                  <th:block th:if="${pageMaker.next}">
                    <li class="page-item">
                      <a th:href="@{${pageMaker.endPage + 1}}" class="page-link movepage">Next</a>
                    </li>
                  </th:block>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div th:replace="~{layout/comm/footer :: footerFragment}"></div>
      </div>

      <!-- Modal Start -->
      <div
        class="modal fade"
        id="orderProcessPopUp"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-6">                 
                  <img id="info_pro_img" src="../image/sns/naver_login_large.png" style="width: 100%; height: 255px; object-fit: contain" />
                </div>
                <div class="col-6">
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">상품명</label>
                      <div id="info_pro_name">이름</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">판매가격</label>
                      <div id="info_pro_price">가격</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">수량</label>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">                      
                      <div class="d-flex">
                        <button type="button" class="btn btn-secondary">BUY IT NOW</button>
                        <button type="button" class="btn btn-light">ADD TO CART</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->
    </th:block>

    <th:block layout:fragment="script">
      <script>
        let actionForm = $("#actionForm");

        $(document).ready(function () {
          // 페이지 번호 클릭시, (이전 1 2 3 4 5 다음) -> actionForm을 사용한다.
          $(".movepage").on("click", function (e) {
            e.preventDefault(); // a 태그의 href 기능을 제거

            // 주소변경
            actionForm.attr("action", "/product/productlist");

            // 1. 클릭한 페이지 번호 작업
            actionForm.find("input[name='pageNum']").val($(this).attr("href"));

            // 2. cat_code 필드 추가

            // 3. cat_name 필드 추가

            // 변경된 pageNum 값을 서버로 전송 (Criteria 클래스)
            actionForm.submit();
          });

          // name="btnCartAdd" - 모달
          $("button[name='btnCartAdd']").on("click", function () {
            $("#orderProcessPopUp").modal("show");

            let pro_num = $(this).data("pro_num");

            console.log("상품코드 : " + pro_num);

            // return;

            $.ajax({
              url: "/product/productinfo",
              type: "get",
              data: { pro_num: pro_num }, // 자바스크립트 object문법 : 1번쨰 : 스프링 파라미터명 일치시켜야함, 2번째 브라우저 값
              dataType: "json", // success 만 받아오면 text, but 상품정보를 받아야해서 json으로 받아야함
              success: function (result) {
                // result : 선택한 상품정보
                console.log("상품정보 : ", result);

                // modal창 요소를 접근해서 값을 대입
                // id="info_pro_name"
                $("div#info_pro_name").html(result.pro_name);
                // id="info_pro_price"
                // 숫자 값을 통화 형식으로 변환
                let formattedPrice = Number(result.pro_price).toLocaleString("ko-KR", {
                  style: "currency",
                  currency: "KRW",
                });
                $("div#info_pro_price").html(formattedPrice);
                // id="info_pro_img"
                let url = `/product/imagedisplay?dateFolderName=${result.pro_up_folder}&fileName=${result.pro_img}`;
                $("img#info_pro_img").attr("src", url);
              },
            });
          });
        }); // read event end
      </script>
    </th:block>
  </body>
</html>
