<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{admin/layout/comm/plugin1}"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header th:replace="~{admin/layout/comm/header}"></header>
		<aside th:replace="~{admin/layout/comm/nav}"></aside>
		<th:block layout:fragment="content">
			<!-- 각각의 페이지에서 구현하고자 하는 컨텐츠를 작성 -->
		</th:block>
		<footer th:replace="~{admin/layout/comm/footer}"></footer>
		<aside th:replace="~{admin/layout/comm/aside}"></aside>
	</div>
	
	<th:block th:replace="~{admin/layout/comm/plugin2}"></th:block>

	<th:block layout:fragment="script">
		<!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
	</th:block>


</body>
</html>

