<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/baselayout}">
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<main role="main" class="flex-shrink-0">
				<div class="container">
					<h1 class="mt-3 mb-4 text-center">비밀번호 변경</h1>
					<div class="row">
						<div class="col-4">
							<section th:replace="~{user/comm/mypage_menu}"></section>
						</div>
						<div class="col-8">
							<form class="form-horizontal" id="changPwForm"
								th:action="@{/user/changepw}" method="post">
								<div class="card-body">
									<!--  -->

									<div class="form-group row">
										<label for="cur_pwd" class="col-sm-6 col-form-label">현재
											비밀번호</label>
										<div class="col-sm-6">
											<input type="password" class="form-control" id="cur_pwd"
												name="cur_pwd" />
										</div>
									</div>

									<div class="form-group row">
										<label for="new_pwd" class="col-sm-6 col-form-label">신규
											비밀번호</label>
										<div class="col-sm-6">
											<input type="password" class="form-control" id="new_pwd"
												name="new_pwd" />
										</div>
									</div>

									<div class="form-group row">
										<label for="new_pwd_2" class="col-sm-6 col-form-label">비밀번호
											확인</label>
										<div class="col-sm-6">
											<input type="password" class="form-control" id="new_pwd_2"
												name="new_pwd_2" />
										</div>
									</div>

									<!--  -->
								</div>

								<div class="card-footer">
									<!-- <button type="submit" class="btn btn-info" id="btnJoin">Sign</button> -->
									<button type="button" class="btn btn-info btn-block"
										id="btnChangePw">비밀번호 변경</button>
								</div>
							</form>
						</div>
					</div>
					<div th:replace="~{layout/comm/footer :: footerFragment}"></div>
				</div>
			</main>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<!-- jquery 문법을 쓸려면 inline 여기 태그 안에 넣어야함 안쓰는경우 밖에 써두 됨 -->
		<script th:inline="javascript">
		  let msg = [[${msg}]]; 	      

	        if (msg == "success") {
	        	alert("비밀번호가 변경되었습니다.");	        	
	        } else if (msg == "failPW") {
	        	alert("현재비밀번호가 일치하지 않습니다.")
	        };
		
		
		
	        $(document).ready(function () {
	            // 비밀번호 변경 버튼 클릭
	            $("#btnChangePw").on("click", function () {
	              // 현재 비밀번호 입력 확인
	              if ($("#cur_pwd").val() == "") {
	                alert("현재 비밀번호를 입력하세요.");
	                $("#cur_pwd").focus();
	                return;
	              }

	              // 신규 비밀번호 일치 확인
	              if ($("#new_pwd").val() != $("#new_pwd_2").val()) {
	                alert("신규 비밀번호가 일치하지 않습니다.");
	                $("#new_pwd_2").focus();
	                $("#new_pwd_2").val("");
	                return;
	              }

	              $("#changPwForm").submit();
	            });

	            
	          });// ready event end
		</script>
	</th:block>
</body>
</html>
