<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout/adminlayout}"
>
  <body class="hold-transition skin-blue sidebar-mini">
    <th:block layout:fragment="content">
      <script src="/plugins/ckeditor/ckeditor.js"></script>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Page Header <small>Optional description</small></h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-dashboard"></i> Level</a>
            </li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Product List</h3>
                </div>

                <div class="box-body">
                  <div>
                    <form th:action="@{/admin/product/productlist}" th:method="get">
                      <select name="type" th:value="${pageMaker.cri.type}">
                        <option value="" th:text="'검색종류선택'" th:if="${pageMaker.cri.type == null}">검색종류선택</option>
                        <option value="N" th:text="'상품명'" th:selected="${pageMaker.cri.type == 'N'}">상품명</option>
                        <option value="C" th:text="'상품코드'" th:selected="${pageMaker.cri.type == 'C'}">상품코드</option>
                        <option value="P" th:text="'제조사'" th:selected="${pageMaker.cri.type == 'P'}">제조사</option>
                        <option value="NP" th:text="'상품명 or 제조사'" th:selected="${pageMaker.cri.type == 'NP'}">
                          상품명 or 제조사
                        </option>
                      </select>
                      <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" />
                      <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}" />
                      <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}" />
                      <button type="submit" class="btn btn-primary" th:text="'검색'">검색</button>
                    </form>
                  </div>

                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th style="width: 2%"><input type="checkbox" id="checkAll" /></th>
                        <th style="width: 8%">상품코드</th>
                        <th style="width: 20%">상품명</th>
                        <th style="width: 15%">상품이미지</th>
                        <th style="width: 10%">가격</th>
                        <th style="width: 20%">등록일</th>
                        <th style="width: 15%">판매여부</th>
                        <th style="width: 5%">수정</th>
                        <th style="width: 5%">삭제</th>
                      </tr>
                      <tr th:each="AdminProductVO : ${productList}">
                        <!-- <td><input type="checkbox" name="check"
												th:value="${AdminProductVO.pro_num}"></td> -->
                        <td><input type="checkbox" name="check" th:value="${AdminProductVO.pro_num }" /></td>
                        <!-- <td>[[${AdminProductVO.pro_num}]]</td> -->
                        <td th:text="${AdminProductVO.pro_num}"></td>
                        <td><a class="move pro_name" href="#" th:text="${AdminProductVO.pro_name}"> </a></td>
                        <td>
                          <img
                            th:src="${'/admin/product/imagedisplay?dateFolderName=' + AdminProductVO.pro_up_folder + '&fileName=s_' + AdminProductVO.pro_img}"
                          />
                        </td>
                        <td><input type="text" name="pro_price" th:value="${AdminProductVO.pro_price}" /></td>
                        <td th:text="${#dates.format(AdminProductVO.pro_date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                          <select id="pro_buy" name="pro_buy">
                            <option value="Y" th:selected="${AdminProductVO.pro_buy == 'Y'}">판매가능</option>
                            <option value="N" th:selected="${AdminProductVO.pro_buy == 'N'}">판매불가능</option>
                          </select>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary" name="btn_pro_edit" th:data-pro_num="${AdminProductVO.pro_num}">
                            수정
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger" name="btn_pro_del" th:data-pro_num="${AdminProductVO.pro_num}">
                            삭제
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="box-footer clearfix">
                  <div class="row">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-primary" id="btn_check_modify1" role="button">체크상품수정1</button>
                      <button type="button" class="btn btn-primary" id="btn_check_modify2" role="button">체크상품수정2</button>

                      <!--1)페이지번호 클릭할 때 사용  [이전]  1	2	3	4	5 [다음]  -->
                      <!--2)목록에서 상품이미지 또는 상품명 클릭할 때 사용   -->
                      <form id="actionForm" action="" method="get">
                        <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
                        <input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />
                        <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}" />
                        <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
                      </form>
                    </div>
                    <div class="col-md-6 text-center">
                      <nav aria-label="...">
                        <ul class="pagination">
                          <!-- 이전 표시여부 -->
                          <th:block th:if="${pageMaker.prev}">
                            <li class="page-item">
                              <a th:href="@{${pageMaker.startPage - 1}}" class="page-link movepage">Previous</a>
                            </li>
                          </th:block>
                          <!-- 페이지번호 출력 -->
                          <!-- 1 2 3 4 5 6 7 8 9 10 [다음] -->
                          <!-- [이전] 11 12 13 14 15 16 17 18 19 20 -->
                          <th:block th:with="pageMaker = ${pageMaker}">
                            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                              <li th:classappend="${pageMaker.cri.pageNum == num ? 'active' : ''}" class="page-item" aria-current="page">
                                <a class="page-link movepage" th:href="@{${num}}" th:text="${num}"></a>
                              </li>
                            </th:block>
                          </th:block>
                          <!-- 다음 표시여부 -->
                          <th:block th:if="${pageMaker.next}">
                            <li class="page-item">
                              <a th:href="@{${pageMaker.endPage + 1}}" class="page-link movepage">Next</a>
                            </li>
                          </th:block>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-md-2 text-right">
                      <a type="button" class="btn btn-primary" id="btn_pro_insert" th:href="@{/admin/product/productinsert}">상품등록</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- /.content -->
    </th:block>
    <th:block layout:fragment="script">
      <script>
        let actionForm = $("#actionForm");

        $(document).ready(function () {
          // 페이지 번호 클릭시, (이전 1 2 3 4 5 다음) -> actionForm을 사용한다.
          $(".movepage").on("click", function (e) {
            e.preventDefault(); // a 태그의 href 기능을 제거

            // 주소변경
            actionForm.attr("action", "/admin/product/productlist");

            // 클릭한 페이지 번호 작업
            actionForm.find("input[name='pageNum']").val($(this).attr("href"));

            // 변경된 pageNum 값을 서버로 전송 (Criteria 클래스)
            actionForm.submit();
          });

          // 수정버튼 클릭시, name="btn_pro_edit"
          $("button[name='btn_pro_edit']").on("click", function () {
            let pro_num = $(this).data("pro_num");

            // 뒤로버튼 클릭시, 사용되어 문제 발생
            actionForm.find("input[name='pro_num']").remove();

            // console.log(pro_num);

            // 자바스크립트 문법 : String Template 백틱에 문자열과 변수를 함께 사용 가능한 문법
            let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}"/>`;
            console.log(str);

            // actionForm에 해당 태그 추가
            actionForm.append(str);

            // get으로 요청방식
            actionForm.attr("method", "get");

            // 주소변경
            actionForm.attr("action", "/admin/product/productedit");

            actionForm.submit();
          });

          // 삭제버튼 클릭시, name="btn_pro_del"
          $("button[name='btn_pro_del']").on("click", function () {
            if (!confirm("상품을 삭제하겠습니까?")) {
              return;
            }

            let pro_num = $(this).data("pro_num");

            // 뒤로버튼 클릭시, 사용되어 문제 발생
            actionForm.find("input[name='pro_num']").remove();

            // console.log(pro_num);

            // 자바스크립트 문법 : String Template 백틱에 문자열과 변수를 함께 사용 가능한 문법
            let str = `<input type="hidden" name="pro_num" id="pro_num" value="${pro_num}"/>`;
            console.log(str);

            // actionForm에 해당 태그 추가
            actionForm.append(str);

            // post로 요청방식
            actionForm.attr("method", "post");

            // 주소변경
            actionForm.attr("action", "/admin/product/productdelete");

            actionForm.submit();
          });

          // 제목행 checkbox 체크하기
          let isCheck = true;
          $("#checkAll").on("click", function () {
            // this.checked : 제목의 check 상태
            $("input[name='check']").prop("checked", this.checked);
            isCheck = this.checked;
          });

          // 목록행 데이터행 체크하기
          $("input[name='check']").on("click", function () {
            // this.checked : "input[name='check']" check 상태
            $("#checkAll").prop("checked", this.checked);

            $("input[name='check']").each(function () {
              // 하나라도 선택되어있으면, 해제
              if (!$(this).is("checked")) {
                $("#checkAll").prop("checked", false);
              }
            });
          });

          // 체크 수정상품1 id="btn_check_modify1"
          $("#btn_check_modify1").on("click", function () {
            if ($("input[name='check']:checked").length == 0) {
              alert("수정할 상품을 체크하세요.");
              return;
            }

            // 자바스크립트 배열 문법
            let pro_num_arr = []; // 체크된 상품코드가 저장될 배열
            let pro_price_arr = []; // 체크된 상품가격이 저장될 배열
            let pro_buy_arr = []; // 체크된 판매여부가 저장될 배열

            // 체크된 상태를 접근
            $("input[name='check']:checked").each(function () {
              pro_num_arr.push($(this).val());
              pro_price_arr.push($(this).parent().parent().find("input[name='pro_price']").val());
              pro_buy_arr.push($(this).parent().parent().find("select[name='pro_buy']").val());
            });

            console.log("상품코드", pro_num_arr);
            console.log("상품가격", pro_price_arr);
            console.log("판매여부", pro_buy_arr);

            $.ajax({
              url: "/admin/product/productcheckedmodify1",
              type: "post",
              data: { pro_num_arr: pro_num_arr, pro_price_arr: pro_price_arr, pro_buy_arr: pro_buy_arr },
              dataType: "text",
              success: function (result) {
                if (result == "success") {
                  alert("체크상품이 수정되었습니다.");
                }
              },
            });
          });

          // 체크 수정상품2 id="btn_check_modify2"
          $("#btn_check_modify2").on("click", function () {
            if ($("input[name='check']:checked").length == 0) {
              alert("수정할 상품을 체크하세요.");
              return;
            }

            // 자바스크립트 배열 문법
            let pro_num_arr = []; // 체크된 상품코드가 저장될 배열
            let pro_price_arr = []; // 체크된 상품가격이 저장될 배열
            let pro_buy_arr = []; // 체크된 판매여부가 저장될 배열

            // 체크된 상태를 접근
            $("input[name='check']:checked").each(function () {
              pro_num_arr.push($(this).val());
              pro_price_arr.push($(this).parent().parent().find("input[name='pro_price']").val());
              pro_buy_arr.push($(this).parent().parent().find("select[name='pro_buy']").val());
            });

            console.log("상품코드", pro_num_arr);
            console.log("상품가격", pro_price_arr);
            console.log("판매여부", pro_buy_arr);

            $.ajax({
              url: "/admin/product/productcheckedmodify2",
              type: "post",
              data: { pro_num_arr: pro_num_arr, pro_price_arr: pro_price_arr, pro_buy_arr: pro_buy_arr },
              dataType: "text",
              success: function (result) {
                if (result == "success") {
                  alert("체크상품이 수정되었습니다.");
                }
              },
            });
          });

          // ready event end
        });
      </script>
    </th:block>
  </body>
</html>
