<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout/adminlayout}"
>
  <body class="hold-transition skin-blue sidebar-mini">
    <th:block layout:fragment="content">
      <script src="/plugins/ckeditor/ckeditor.js"></script>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Page Header <small>Optional description</small></h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-dashboard"></i> Level</a>
            </li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          <div class="row">
            <div class="col">
              <form th:action="@{/admin/product/productinsert}" th:method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="box-body">
                  <div class="form-group row">
                    <label for="btnFirstCategory" class="col-sm-2 col-form-labell">1차 카테고리</label>
                    <div class="col-sm-4">
                      <select class="form-control" id="btnFirstCategory">
                        <option>1차 카테고리 선택</option>
                        <option th:each="category : ${cateList}" th:value="${category.cat_code}" th:text="${category.cat_name}"></option>
                      </select>
                    </div>

                    <label for="btnSecondCategory" class="col-sm-2 col-form-label">2차 카테고리</label>
                    <div class="col-sm-4">
                      <select class="form-control" id="btnSecondCategory" name="cat_code">
                        <option>2차 카테고리 선택</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="pro_name" class="col-sm-2 col-form-label">상품명</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="pro_name" id="pro_name" placeholder="상품명 입력..." />
                    </div>
                    <label for="pro_price" class="col-sm-2 col-form-label">상품가격</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="pro_price" id="pro_price" placeholder="상품가격 입력..." />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pro_discount" class="col-sm-2 col-form-label">할인율</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="pro_discount" id="pro_discount" placeholder="할인율 입력..." />
                    </div>
                    <label for="pro_publisher" class="col-sm-2 col-form-label">제조사</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="pro_publisher" id="pro_publisher" placeholder="제조사 입력..." />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="uploadFile" class="col-sm-2 col-form-label">상품이미지</label>
                    <div class="col-sm-4">
                      <input type="file" class="form-control" name="uploadFile" id="uploadFile" />
                    </div>
                    <label for="img_preview" class="col-sm-2 col-form-label">미리보기 이미지</label>
                    <div class="col-sm-4">
                      <img id="img_preview" style="width: 200px; height: 200px" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pro_content" class="col-sm-2 col-form-label">상품설명</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="pro_content" id="pro_content" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pro_amount" class="col-sm-2 col-form-label">수량</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="pro_amount" id="pro_amount" placeholder="수량 입력..." />
                    </div>
                    <label for="pro_buy" class="col-sm-2 col-form-label">판매여부</label>
                    <div class="col-sm-4">
                      <select class="form-control" id="pro_buy" name="pro_buy">
                        <option value="Y">판매가능</option>
                        <option value="N">판매불가능</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">상품등록</button>
                  <button type="reset" class="btn btn-primary">취소</button>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
    </th:block>
    <th:block layout:fragment="script">
      <script>
        $(document).ready(function () {
          // 1차 카테고리 선택
          $("#btnFirstCategory").on("change", function () {
            let cateCode = $("#btnFirstCategory").val();

            // console.log(cateCode);

            // 2차 카테고리 주소
            let url = "/admin/category/secondcategory/" + cateCode;

            $.getJSON(url, function (secondCategoryResult) {
              let btnSecondCategory = $("#btnSecondCategory"); // 2차 카테고리 select 태그를 참조
              let optionStr = "";

              for (let i = 0; i < secondCategoryResult.length; i++) {
                optionStr += "<option value='" + secondCategoryResult[i].cat_code + "'>" + secondCategoryResult[i].cat_name + "</option>";
              }
              btnSecondCategory.find("option").remove();
              btnSecondCategory.append("<option>2차 카테고리 선택</option>");
              btnSecondCategory.append(optionStr);
            });
          });
        });

        // 상품이미지 미리보기
        $("#uploadFile").on("change", function (e) {
          let file = e.target.files[0];

          let reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = function (e) {
            $("#img_preview").attr("src", e.target.result);
          };
        });

        // ckeditor 환경설정.
        $(document).ready(function () {
          // ckeditor 환경설정. 자바스크립트 Ojbect문법
          var ckeditor_config = {
            resize_enabled: false, // 박스 사이크 크기 조절
            enterMode: CKEDITOR.ENTER_BR, // enter 입력마다 br 태그 적용
            shiftEnterMode: CKEDITOR.ENTER_P,
            toolbarCanCollapse: true,
            removePlugins: "elementspath",
            //업로드 탭기능추가 속성. CKEditor에서 파일업로드해서 서버로 전송클릭하면 , 이 주소가 동작된다.
            // /admin/product/imageupload - controller 주소 참조
            filebrowserUploadUrl: "/admin/product/imageupload", // 이미지 업로드 버튼
          };

          // pro_content - 상품설명 id 참조
          CKEDITOR.replace("pro_content", ckeditor_config);

          console.log("ckediotr 버전: ", CKEDITOR.version); // ckeditor 버전: 4.12.1 (Standard)
        });
      </script>
    </th:block>
  </body>
</html>
