<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.docmall.basic.admin.product.AdminProductMapper">

	<insert id="productInsert" parameterType="AdminProductVO">

		INSERT INTO
		product_tbl(
		pro_num,
		cat_code,
		pro_name,
		pro_price,
		pro_discount,
		pro_publisher,
		pro_content,
		pro_up_folder,
		pro_img,
		pro_amount,
		pro_buy
		)
		VALUES(
		seq_pro_num.NEXTVAL,
		#{cat_code},
		#{pro_name},
		#{pro_price},
		#{pro_discount},
		#{pro_publisher},
		#{pro_content},
		#{pro_up_folder},
		#{pro_img},
		#{pro_amount},
		#{pro_buy}
		)

	</insert>

	<!-- 검색종류가 (상품명 또는 제조사 또는 내용) 선택. "T" "W" "C" -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							pro_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							pro_num like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'P'.toString()">
							pro_publisher like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 공통사항 : 검색조건추가 -->
	<select id="productList" resultType="AdminProductVO"
		parameterType="com.docmall.basic.common.dto.Criteria">

		SELECT
		pro_num,
		cat_code,
		pro_name,
		pro_price,
		pro_discount,
		pro_publisher,
		pro_content,
		pro_up_folder,
		pro_img,
		pro_amount,
		pro_buy,
		pro_date,
		pro_updatedate
		FROM
		(
		SELECT /*+ INDEX_DESC(product_tbl PK_PRO_NUM) */
		ROWNUM AS
		RN,
		pro_num,
		cat_code,
		pro_name,
		pro_price,
		pro_discount,
		pro_publisher,
		pro_content,
		pro_up_folder,
		pro_img,
		pro_amount,
		pro_buy,
		pro_date,
		pro_updatedate
		FROM
		product_tbl
		WHERE

		<include refid="criteria"></include>
		 
		 <![CDATA[  		
		   		ROWNUM <= (#{pageNum} * #{amount})   -- 페이지번호 * 페이지별 출력건수
		 ]]>
		)
		WHERE
		RN > (#{pageNum} - 1 ) * #{amount}


	</select>

	<!-- 공통사항 : 검색조건추가 -->
	<select id="getTotalCount" resultType="int">

		SELECT
		COUNT(*)
		FROM
		product_tbl

		WHERE
		<include refid="criteria"></include>
		pro_num > 0
	</select>

	<!-- 상품수정 -->
	<select id="productEditPage" resultType="AdminProductVO"
		parameterType="Integer">
		SELECT
		pro_num,
		cat_code,
		pro_name,
		pro_price,
		pro_discount,
		pro_publisher,
		pro_content,
		pro_up_folder,
		pro_img,
		pro_amount,
		pro_buy,
		pro_date,
		pro_updatedate
		FROM
		product_tbl
		WHERE
		pro_num = #{pro_num}

	</select>

	<update id="productEdit" parameterType="AdminProductVO">

		UPDATE
		product_tbl
		SET
		cat_code = #{cat_code},
		pro_name = #{pro_name},
		pro_price =
		#{pro_price},
		pro_discount = #{pro_discount},
		pro_publisher =
		#{pro_publisher},
		pro_content = #{pro_content},
		pro_up_folder =
		#{pro_up_folder},
		pro_img = #{pro_img},
		pro_amount = #{pro_amount},
		pro_buy = #{pro_buy},
		pro_updatedate = sysdate
		WHERE
		pro_num = #{pro_num}
	</update>

	<delete id="productDelete" parameterType="Integer">

		DELETE FROM
		product_tbl
		WHERE
		pro_num = #{pro_num}

	</delete>

	<update id="productCheckedModify1" parameterType="map">

		UPDATE
		product_tbl
		SET
		pro_price = #{pro_price},
		pro_buy = #{pro_buy}
		WHERE
		pro_num = #{pro_num}
	</update>

	<update id="productCheckedModify2" parameterType="list">

		<foreach collection="list" item="item" open="declare begin"
			separator=";" close="; end;">
			UPDATE
			product_tbl
			SET
			pro_price = #{item.pro_price},
			pro_buy = #{item.pro_buy}
			WHERE
			pro_num = #{item.pro_num}

		</foreach>

	</update>


</mapper>