<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.basic.admin.category.AdminCategoryMapper">

	<select id="getFirstCategoryList" resultType="AdminCategoryVO">
	
		SELECT
			cat_code, cat_prtcode, cat_name
		FROM
		category_tbl
		WHERE
			cat_prtcode IS NULL
	
	</select>

	<select id="getSecondCategoryList" resultType="AdminCategoryVO">
	SELECT
			cat_code, cat_prtcode, cat_name
		FROM
		category_tbl
		WHERE
			cat_prtcode = #{cat_prtcode}
	
	</select>

	<select id="getFirstCategoryBySecondCategory" parameterType="AdminCategoryVO">
		SELECT
			cat_code, cat_prtcode, cat_name
		FROM
		category_tbl
		WHERE
			cat_code = #{cat_code}
	
	</select>
	
	

</mapper>